Source: bitcoinz
Section: utils
Priority: optional
Maintainer: BitcoinZ team <team@btcz.org>
Homepage: https://btcz.rocks
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/bitcoinz-pod/bitcoinz.git
Vcs-Browser: https://github.com/bitcoinz-pod

Package: bitcoinz
Version: 1.2.1
Depends: ${shlibs:Depends}
Architecture: all
Description: Community coin.
 BitcoinZ is based on Bitcoin's & Zcash code.
