Source: bitcoinz
Section: utils
Priority: optional
Maintainer: The BitcoinZ Community <bitcoinzcommunity@gmail.com>
Homepage: https://btcz.rocks
Build-Depends: autoconf, automake, bsdmainutils, build-essential,
 git, g++-multilib, libc6-dev, libtool,
 m4, ncurses-dev, pkg-config, python,
 unzip, wget, zlib1g-dev
Vcs-Git: https://github.com/btcz/bitcoinz.git
Vcs-Browser: https://github.com/btcz

Package: bitcoinz
Version: 1.4.0
Depends: ${shlibs:Depends}
Architecture: all
Description: BitcoinZ is a decentralized community project based on the Bitcoin and Zcash codebase.
